*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

.app-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
}

.app-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.app-header-logo {
    color: fuchsia;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.app-header-nav a {
    color: darkgreen;
}

.app-header-nav a:hover {
    color: fuchsia;
}

.app-header-nav a ~ a {
    margin-left: 15px;
}

.product-list {
    display: flex;
}

.product-list-item {
    border: 1px dashed fuchsia;
    height: 200px;
    width: 50%;
}

.product-list-item ~ .product-list-item {
    margin-left: 20px;
}
